server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        # Rota de Autenticação (Aberta)
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**

        # Rota de Usuários (Protegida pelo seu Filtro)
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/users/**
          # Adicionado para ativar sua validação

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://eureka-server:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true # Melhor para ambientes Docker e Cloud
    instance-id: ${spring.application.name}:${random.value}

jwt:
  secret: "zdtlY9V7X8Pq2M5N6B3C4V5B6N7M8J9K0L1A2S3D4F5G6H7J8K9L0Q1W2E3R4T5Y"

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
    com.tharsis.gateway: DEBUG






